
 {{#each data}}
<div class="container-fluid">
  <h1 style="text-align: center;">{{page}}</h1>
</div>
 


<p style="text-align: center;">{{disc}}</p>

    <h2 style="text-align: center;">{{name}}</h2>


  {{/each}}